<div class="nav-wrapper  bg-dark">
  <ul id="nav" class="nav">
    <li class="nav-title">
      <span>NAVIGATION</span>
    </li>
<!--     <li *ngFor="let nav of navigation">
      <a [routerLink]="['/' + nav.path]" (click)="nav.expanded = !nav.expanded"> <i class="{{nav.icon}}"></i><span>{{nav.name|uppercase}}</span> </a>
      <ul *ngIf="nav.child" [collapse]="!nav.expanded">
        <li *ngFor="let child of nav.child">
          <a [routerLink]="['/' + nav.path + '/' + child.path]"> <i class="{{child.icon}}"></i><span>{{child.name}}</span></a>
        </li>
      </ul>
    </li> -->
    <li class="nav-title">
      <span>APPLICATION</span>
    </li>
<!--     <li *ngFor="let nav of application">
      <a [routerLink]="['/' + nav.path]" (click)="nav.expanded = !nav.expanded"> <i class="{{nav.icon}}"></i><span>{{nav.name|uppercase}}</span> </a>
      <ul *ngIf="nav.child" [collapse]="!nav.expanded">
        <li *ngFor="let child of nav.child">
          <a [routerLink]="['/' + nav.path + '/' + child.path]"> <i class="{{child.icon}}"></i><span>{{child.name}}</span></a>
        </li>
      </ul>
    </li> -->
  </ul>
</div>
