<header class="top-header clearfix bg-primary">
  <!-- Logo -->
  <div class="logo">
    <a href="#/">
      <span class="logo-icon icon-tint"></span>
      <span class="logo-text">DDS Admin</span>
    </a>
  </div>
  <!-- needs to be put after logo to make it work -->
  <div class="menu-button" toggle-off-canvas>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="top-nav bg-primary">
    <ul class="nav-left list-unstyled">
      <li>
        <a href="#/" class="toggle-min"><i class="icon-menu"></i></a>
      </li>
      <li class="dropdown hidden-xs" dropdown>
        <a href="javascript:;" dropdownToggle><i class="icon-settings"></i></a>
        <div class="dropdown-menu with-arrow panel panel-default admin-options" ui-not-close-on-click>
          <div class="panel-heading"><span>Settings</span></div>
          <ul class="list-group">
            <li class="list-group-item">
              <p>Layouts Style</p>
              <label class="ui-radio">
                <input name="layout" type="radio" value="boxed"><span>Boxed</span></label>
              <label class="ui-radio">
                <input name="layout" type="radio" value="wide"><span>Wide</span></label>
            </li>
            <li class="list-group-item">
              <p>Menu Style</p>
              <label class="ui-radio">
                <input name="menu" type="radio" value="vertical"><span>Vertical</span></label>
              <label class="ui-radio">
                <input name="menu" type="radio" value="horizontal"><span>Horizontal</span></label>
            </li>
            <li class="list-group-item">
              <p>Additional</p>
              <label class="ui-checkbox">
                <input name="checkbox1" type="checkbox" value="option1"><span>Fixed Top Header</span></label>
              <br>
              <label class="ui-checkbox">
                <input name="checkbox1" type="checkbox" value="option1"><span>Fixed Sidebar Menu</span></label>
            </li>
            <li class="list-group-item">
              <p>
                <span>Page Transition: </span>
                <span class="space"></span>
                <select></select>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown hidden-xs" dropdown>
        <a href="javascript:;" dropdownToggle><i class="icon-eye"></i></a>
        <div class="dropdown-menu with-arrow panel panel-default skin-options">
          <div class="panel-heading"><span>Skins</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4">
                <label class="skin-check">
                  <input type="radio" name="skin" value="11">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-dark item-header"></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="12">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-primary item-header"></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="13">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-success item-header"></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="14">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-info-alt item-header"></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="15">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-warning item-header"></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="16">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-danger item-header"></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
              </div>
              <div class="col-xs-4">
                <label class="skin-check">
                  <input type="radio" name="skin" value="21">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-white item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="22">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-primary item-header"></span>
                  <span class="bg-primary item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="23">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-success item-header"></span>
                  <span class="bg-success item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="24">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-info-alt item-header"></span>
                  <span class="bg-info-alt item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="25">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-warning item-header"></span>
                  <span class="bg-warning item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="26">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-danger item-header"></span>
                  <span class="bg-danger item-header"></span>
                  <span class="bg-dark"></span>
                  </span>
                </label>
              </div>
              <div class="col-xs-4">
                <label class="skin-check">
                  <input type="radio" name="skin" value="31">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-dark item-header"></span>
                  <span class="bg-dark item-header"></span>
                  <span class="bg-white"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="32">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-primary item-header"></span>
                  <span class="bg-primary item-header"></span>
                  <span class="bg-white"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="33">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-success item-header"></span>
                  <span class="bg-success item-header"></span>
                  <span class="bg-white"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="34">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-info-alt item-header"></span>
                  <span class="bg-info-alt item-header"></span>
                  <span class="bg-white"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="35">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-warning item-header"></span>
                  <span class="bg-warning item-header"></span>
                  <span class="bg-white"></span>
                  </span>
                </label>
                <label class="skin-check">
                  <input type="radio" name="skin" value="36">
                  <span class="skin-item bg-body">
                  <span class="overlay"><span class="icon-ok"></span></span>
                  <span class="bg-danger item-header"></span>
                  <span class="bg-danger item-header"></span>
                  <span class="bg-white"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="search-box visible-md visible-lg">
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-search"></i></span>
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </li>
      <li class="dropdown" dropdown>
        <a href="javascript:;" dropdownToggle>
          <i class="icon-envelope"></i>
          <span class="badge badge-danger">3</span>
        </a>
        <div class="dropdown-menu with-arrow panel panel-default">
          <div class="panel-heading">
            You have 3 mails.
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                <span class="btn-icon btn-icon-round btn-warning"><i class="icon-envelope"></i></span>
                </span>
                <div class="media-body">
                  <span class="block">Lisa sent you a mail</span>
                  <span class="text-muted block">2min ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                <span class="btn-icon btn-icon-round btn-info"><i class="icon-envelope"></i></span>
                </span>
                <div class="media-body">
                  <span class="block">Jane sent you a mail</span>
                  <span class="text-muted">3 hours ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                <span class="btn-icon btn-icon-round btn-success"><i class="icon-envelope"></i></span>
                </span>
                <div class="media-body">
                  <span class="block">Lynda sent you a mail</span>
                  <span class="text-muted">9 hours ago</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="panel-footer">
            <a href="#/mail/inbox">Show all mails.</a>
          </div>
        </div>
      </li>
      <li class="dropdown" dropdown is-open="status.isopenBell">
        <a href="javascript:;" dropdownToggle>
          <i class="icon-bell"></i>
          <span class="badge badge-info">3</span>
        </a>
        <div class="dropdown-menu with-arrow panel panel-default">
          <div class="panel-heading">
            You have 3 notifications.
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-success"><i class="icon-bell"></i></span>
                </span>
                <div class="media-body">
                  <span class="block">New tasks needs to be done</span>
                  <span class="text-muted block">2min ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                <span class="btn-icon btn-icon-round btn-info"><i class="icon-bell"></i></span>
                </span>
                <div class="media-body">
                  <span class="block">Change your password</span>
                  <span class="text-muted">3 hours ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                <span class="btn-icon btn-icon-round btn-danger"><i class="icon-bell"></i></span>
                </span>
                <div class="media-body">
                  <span class="block">New feature added</span>
                  <span class="text-muted">9 hours ago</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="panel-footer">
            <a href="#/mail/inbox">Show all notifications.</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav-right pull-right list-unstyled">
      <li class="dropdown text-normal nav-profile" dropdown>
        <a href="javascript:;" dropdownToggle>
          <img src="img/g1.jpg" alt="" class="img-circle img30_30" />
          <span class="hidden-xs">
          <span>Lisa</span>
          </span>
        </a>
        <ul class="dropdown-menu with-arrow pull-right">
          <li>
            <a href="#/pages/profile">
              <i class="icon-user"></i>
              <span>My profile</span>
            </a>
          </li>
          <li>
            <a href="#/pages/lock-screen">
              <i class="icon-lock"></i>
              <span>Lock</span>
            </a>
          </li>
          <li>
            <a href="#/pages/signin">
              <i class="icon-logout"></i>
              <span>Log out</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown langs text-normal" dropdown>
        <a href="javascript:;" dropdownToggle>
          <div class="flag-icon flag-icon-gb"></div> {{lang}}</a>
        <ul class="dropdown-menu with-arrow  pull-right list-langs" role="menu">
          <li [hidden]="lang == 'English' ">
            <a href="javascript:;" (click)="setLang('English')">
              <div class="flag-icon flag-icon-gb"></div> English</a>
          </li>
          <li [hidden]="lang == 'Español' ">
            <a href="javascript:;" (click)="setLang('Español')">
              <div class="flag-icon flag-icon-es"></div> Español</a>
          </li>
          <li [hidden]="lang == 'Portugal' ">
            <a href="javascript:;" (click)="setLang('Portugal')">
              <div class="flag-icon flag-icon-pt"></div> Portugal</a>
          </li>
          <li [hidden]="lang == '中文' ">
            <a href="javascript:;" (click)="setLang('中文')">
              <div class="flag-icon flag-icon-ch"></div> 中文</a>
          </li>
          <li [hidden]="lang == '日本語' ">
            <a href="javascript:;" (click)="setLang('日本語')">
              <div class="flag-icon flag-icon-jp"></div> 日本語</a>
          </li>
          <li [hidden]="lang == 'Русский язык' ">
            <a href="javascript:;" (click)="setLang('Русский язык')">
              <div class="flag-icon flag-icon-ru"></div> Русский язык</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
